<%= render(:partial => "re_search_box") %>

<div class="search-summary">
  <p>
    <span class="keyword"><%= h(params[:query]) %></span>の検索結果:
    <span class="total-entries"><%= @total_entries %></span>件中
    <span class="display-range"><%= @offset + 1 %>-<%= @offset + @documents.size %></span>件（<%= @elapsed %>秒）
  </p>
</div>

<% _snippet = snippet(params[:query]) %>
<div class="records">
<% @documents.each do |document| %>
<%    source = document.source -%>
  <div class="record">
    <h2><%= link_to(h(document.title), document.url) %>(<%= document.score %>)</h2>
    <p class="snippet">
       <%= _snippet.execute(document.content).join("\n<span class=\"separator\">...</span>\n") %>
    </p>
    <p class="metadata">
      <span class="url"><%= h(CGI.unescape(document.url)) %></span>
      -
      <span class="content"><%= link_to("内容", document_path(document)) %></span>
      <% if source -%>
      -
      <span class="license">
         <%= link_to(h(source.license), source.license_url) %>
      </span>
      -
      <span class="source"><%= link_to(h(source.name), source.url) %></span>
      <% end -%>
    </p>
  </div>
<% end %>
</div>

<% unless @documents.empty? -%>
  <%= will_paginate(@documents.paginate(:page => @page,
					:per_page => @per_page,
					:total_entries => @total_entries),
                    :previous_label => "<前",
                    :next_label => "次>") %>
</div>
<% end -%>

<%= render(:partial => "sources") %>
