<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>groongaで全文検索 - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'groonga' %>
</head>
<body>

<div class="header">
<h1>groongaで全文検索</h1>
</div>

<div class="content">
<%= yield %>
</div>

<div class="footer">
<p class="powered-by-groonga">
  <%= link_to("groonga", "http://groonga.org/") %>
  <%= Groonga.version %>を使っています。
</p>
<p class="powered-by-active-groonga">
  <%= link_to("ActiveGroonga", "http://groonga.rubyforge.org/") %>
  <%= ActiveGroonga::VERSION::STRING %>を使っています。
</p>
</div>

</body>
</html>
