%h2&= @message["subject"]

%dl.headers
  %dt 送信者
  %dd
    &= @message[".from.names.value"]
    &= "<#{@message[".from._key"]}>"
  %dt 受信者
  %dd
    - @message["to"].each do |to|
      &= to[".names.value"]
      &= "<#{to["_key"].inspect}>"
      , 
  %dt 送信日
  %dd&= @message["date"]

%pre.text= highlight(@message["text"])

%ul.attachments
  - @message["attachments"].each do |attachment|
    %li
      %a{:href => "/#{@message.id}/download/#{attachment.id}/#{attachment["filename"]}"}&= attachment["filename"]
